
{%extends 'base.html'%}
{% block content %}
{{ block.super}}
<div class="container">
    <h2>Rowena</h2>
  <!-- Looping through news   -->
  {% for image in image %}
  <div class="row">
    <!-- displaying News articles -->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <h2 class="text-center"> {{ image.name }} </h2>
    </div>
    <!--Display news Article images  -->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <img src="{{image.image_image.url}}" class="img-responsive" alt="Image">
    </div>
  {% empty %}
  <div class="row">
    <h2 class="text-center">There are no pictures</h2>
  </div>
  {% endfor %}
</div>
{% endblock %}